/* color accent: #2196F3 */
/* white color^ #FFFFFF */
/* secondary background colo: #E5E5E5 */

:root {
    --primary-text-color: #757575;
    --secondary-text-color: #212121;
    --accent-color: #2196F3;
}

body {
    font-family: Raleway, Roboto, serif;
    font-size: 14px;
    font-style: normal;
    color: var(--primary-text-color);
    background-color: #FFFFFF;
}

.list {
    list-style: none;
}

/* logo */
.page-logo {
    color: var(--secondary-text-color); 
    font-family: 'Raleway', serif;
    font-weight: 700;
    font-size: 26px;
    line-height: 1.20;
    letter-spacing: 0.03em;
    text-decoration: none;
    text-transform: uppercase;
}

.page-logo:hover,
.page-logo:focus {
    color: #292929;   
}

.web-logo {
    color: var(--accent-color);
}

/* site nav */
.list {
    list-style: none;
}

.site-nav .link {
    font-family: 'Roboto';
    font-weight: 500;
    font-size: 14px;
    line-height: 1.07;
    letter-spacing: 0.02em;
    text-decoration: none;
    color: #757575;
    }

.site-nav .link:hover,
.site-nav .link:focus {
    color: var(--accent-color);
}

.auth-nav .link {
    font-family: 'Roboto';
    font-weight: 500;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.02em;
    text-decoration: none;
    color: #757575;
}

 .auth-nav .link:hover,
 .auth-nav .link:focus {
    color: var(--accent-color);
 }

/* Hero */
.hero-title {
    font-family: 'Roboto';
    font-weight: 900;
    font-size: 44px;
    line-height: 60px;
    text-align: center;
    letter-spacing: 0.06em;
    text-transform: uppercase;
    color: #FFFFFF;
    /* тимчасовий колір бекграунду, бо текст і фон білі */
    background-color: var(--primary-text-color); 
}

.btn {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 700;
    font-size: 16px;
    line-height: 1.88;
    display: flex;
    align-items: center;
    text-align: center;
    letter-spacing: 0.06em;
    color: #FFFFFF;
    background: var(--accent-color)
}

.button:hover,
.button:focus {
    background:var(--accent-color);
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
    border-radius: 4px; 
}

/* features */
.section-title {
    font-family: 'Roboto';
    font-weight: 700;
    font-size: 36px;
    line-height: 42px;
    text-align: center;
    letter-spacing: 0.03em;
    color: var(--secondary-text-color);
}

.features list .title {
    font-family: 'Roboto';
    font-weight: 700;
    font-size: 14px;
    line-height: 16px;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: var(--secondary-text-color);
}

/* work */


