/* color accent: #2196F3 */
/* white color^ #FFFFFF */
/* secondary background colo: #E5E5E5 */

/* index.html css */
:root {
    --primary-text-color: #757575;
    --secondary-text-color: #212121;
    --accent-color: #2196F3;
    --secondary-background-color: #FFFFFF;
}

body {
    font-family: Roboto, sans-serif; 
    font-size: 14px;
    letter-spacing: 0.03em;
    color: var(--primary-text-color);
    background-color: var(--secondary-background-color);
}

.list {
    list-style: none;
}

/* logo */
.page-logo {
    color: var(--secondary-text-color); 
    font-family: 'Raleway', serif;
    font-weight: 700;
    font-size: 26px;
    line-height: 1.20;
    text-decoration: none;
}

.page-logo:hover,
.page-logo:focus {
    color: #292929;   
}

.web-logo {
    color: var(--accent-color);
}

/* site nav */
.link {
    text-decoration: none;
}

.site-nav .link {
    font-weight: 500;
    font-size: 14px;
    line-height: 1.07;
    letter-spacing: 0.02em;
    text-decoration: none;
    color: var(--secondary-text-color);
    }

.site-nav .link:hover,
.site-nav .link:focus {
    color: var(--accent-color);
}

.current {
    color: var(--accent-color);
}

.auth-nav .link {
    font-weight: 500;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.02em;
    text-decoration: none;
    color: #757575;
}

 .auth-nav .link:hover,
 .auth-nav .link:focus {
    color: var(--accent-color);
 }

/* Herro */
.herro {
    line-height: 1.36;
    background-color: #2F303A;
}

.hero-title,
.portfolio-title {
    font-weight: 900;
    font-size: 44px;
    text-align: center;
    letter-spacing: 0.06em;
    text-transform: uppercase;
    color: var(--secondary-background-color);
}

.btn {
    font-weight: 700;
    font-size: 16px;
    line-height: 1.88;
    display: flex;
    align-items: center;
    text-align: center;
    letter-spacing: 0.06em;
    cursor: pointer;
    color: var(--secondary-background-color);
    background: var(--accent-color)
}

.button:hover,
.button:focus {
    background:var(--accent-color);
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
    border-radius: 4px; 
}

/* features */
.section-title {
    font-weight: 700;
    font-size: 36px;
    line-height: 42px;
    text-align: center;
    color: var(--secondary-text-color);
}

 /*прихований заголовок*/
 .visually-hidden {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    border: 0;
    padding: 0;
    white-space: nowrap;
    clip-path: inset(100%);
    clip: rect(0 0 0 0);
    overflow: hidden;
  }

.features-list .title {
    font-weight: 700;
    font-size: 14px;
    line-height: 16px;
    text-transform: uppercase;
    list-style: none;
    color: var(--secondary-text-color);
}

.text {
    font-family: 'Roboto';
    font-size: 14px;
    line-height: 24px;
    color: var(--primary-text-color);
}

/* work */
.work .link {
    background: url(creative-artist-web-design-with-working-colour-selection-graphic-tablet_35674-1119.jpg);
}

.work .link:hover,
.work .link:focus {
    background: var(--accent-color);
}

.pic {
    display: flex;
    flex-direction: row;;
}

/* team */
.team {
    background-color: var(--secondary-background-color);
    border-radius: 0px;
}

.team-text {
    font-size: 16px;
    line-height: 19px;
    text-align: center;
    color: var(--primary-text-color);
}

.team .title {
    font-weight: 500;
    font-size: 16px;
    line-height: 19px;
    text-align: center;
    color: var(--secondary-text-color);
}

.photo{
    display: flex;
    flex-direction:row;
    background-color: var(--primary-text-color) ;
}

/* footer    */
.footer {
background-color: #2F303A;
}

.logo {
    font-family: 'Raleway';
    font-weight: 700;
    font-size: 26px;
    line-height: 1.19;
    text-decoration: none;
    color: var(--secondary-background-color);
}

.adress-link,
.contacts-link {
    font-style: normal;
    font-size: 14px;
    line-height: 1.71px;
    text-decoration: none;
    text-transform: uppercase;
    color: var(--secondary-background-color) 
}

.contacts-link {
    color: rgba(255, 255, 255, 0.6);
}
 
/* potfolio/css */
.main {
    font-weight: 700;
    font-size: 14px;
    line-height: 16px;
    text-transform: uppercase;
    list-style: none;
    color: var(--secondary-text-color);
}

.work-text {
    font-size: 16px;
    line-height: 19px;
    color: var(--primary-text-color)
}

.portfolio-btn {
    font-weight: 500;
    font-size: 16px;
    line-height: 1.63px;
    text-align: center;
    cursor: pointer;
    color: var(--secondary-text-color);
}

 .portfolio-btn:hover,
 .portfolio-btn:focus {
    background: #2196F3;
    box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08), 0px 2px 2px rgba(0, 0, 0, 0.12);
    border-radius: 4px;
 }

 .btn-text {
    font-weight: 500;
    font-size: 16px;
    line-height: 26px;
    text-align: center;
    color: var(--secondary-text-color);
 }

 .btn-text:hover,
 .btn-text:focus {
    color: var(--secondary-background-color);
 }

 .magic .link {
    background-color: var(--secondary-background-color);
 }

.magic .link:hover,
.magic .link:focus {
    background-color: var(--accent-color);
 }
